body {
  font-family: $theme-font;
  letter-spacing: 1px;
  line-height: 25px;
  // background: #fafafa;
}

//button styles

%btn{
	background:#111;
	color:#fff;
	text-transform: uppercase;
	border-radius:0;
	&:hover{
		background: transparent;
		color:#111;
		border:1px solid #111;
		cursor:pointer;
	}
}
.shopping {
  z-index: 1;
  position: sticky;
  top: 0;
  background: #fafafa;

  .nav-dropdown {
    display: none;
    position: absolute;
    left: -150%;
    margin-top: 10px;
    background: #fafafa;
    width:120px;
  }
  p {
    padding: 5px 20px;
    cursor: pointer;
  }
  .fa {
    padding: 12px;
    font-size: 18px;
    position: relative;
    &:hover .nav-dropdown {
      display: block;
    }
  }
}

.head {
  // padding: 30px 0;
  h1 {
    text-indent: -9999px;
    background: url("http://logo-load.com/uploads/posts/2016-03/1457626457_hublot-logo.jpg")
      no-repeat center center;
    height: 150px;
    background-size: contain;
  }
}

.nav {
  background: #222;
  color:white;
  position: fixed;
  top:0;
  width:100%;
  z-index: 100;

  a{
  			color:#fff;
  		}
  h2{
  	line-height: 42px;
  }
  .nav-items{
  	padding:0;
  	display:none;
  	li{
  		position:relative;
  		
  			.dropdown-arrow{
  		
  		height:0;
  		width:0;
  		border: 5px solid transparent;
  		border-top-color: #fff;
  		position:absolute;
  		right:0;
  		top: 21px;
  		}
  	}	
  	}
  	.nav-icon{
  	border-left: 1px dotted gray;
  }
  
  
  h2{
  	display:inline-block;
  }
  ul, h2{
  	margin:0;
  }
  li{
  	list-style-type:none;
  	display: inline-block;
  	padding: 10px 20px;
  }
}
.banner-home-top{
	margin: 25px auto;
	position:relative;
	img{
		width:100%;
		margin: 10px auto;
	}
	h4{
		position:absolute;
		top:50%;
		left:0;
		width:100%;
		text-align: center;
		transform: translatey(-50%);
	}
}
.divider{
	margin: 40px auto;
}
.product-banner {
	position:relative;
  padding: 0;
  margin-top: 45px;
  img{
  	width:100%;
  }
  .carousel-content{
  	position:absolute;
  	top:50%;
  	transform: translateY(-50%);
  	text-align: center;
  	left:0;
  	right:0;
  	max-width:80%;
  	margin:0 auto;
  	display:none;
  

  	.line{
  		background:#111;
  		height:2px;
  		width:50px;
  		margin: 15px auto 10px;
  	}
  	h3{
  		font-weight: bold;

  	}
  	p{
  		font-size: 80%;
  	}
  	.btn{
  		@extend %btn;
  		min-width: 250px;
  	}
  }
  
  %btn-carousel{
  	font-size: 50px;
  	position:absolute;
  	top:50%;
  	transform:translatey(-50%);
  	background: transparent;
  	border-style:none;
  	box-shadow:none;
  	display:none;
  	&:hover{
  		color:#222;
  		cursor:pointer;
  	}
  }
  .mySlides{
  	position:relative;
  }
    .btn-carousel-left{
  	@extend %btn-carousel;
  	left:10px;
  }
  .btn-carousel-right{
  	@extend %btn-carousel;
  	right:10px;
  }
 &:hover %btn-carousel{
 	display: block;
 }
}

.box-title{
	border-top:2px solid #e0e0e0;
	legend{
		width:auto;
		padding: 0 20px;
	}
}

.product-grid{
	font-size:80%;
	.product{
		margin-bottom:30px;
		.sale-label{
			font-size:90%;
			float:right;
			position: absolute;
			right:5%;
			top:5%;
			p{
				display:inline-block;
				color: red;
				border: 2px solid #e95144;
				padding:0 5px;	
				text-transform: uppercase;
				font-weight: bold;
			}
			
		}
	}
	img{
		width:80%;
	}
	.product-descr{
		
		margin-top:20px;
		p{
			margin:0;
		}
	}
	form{
		margin:50px 0;
		text-align:center;
		width:100%;
		.btn{
			@extend %btn;
			min-width:30%;
		}
	}
}

.product-highlight{
	position:relative;
	padding:0;
	img{
		max-width:100%;
	}
	.highlight-descr{
		text-align:center;
		font-size:90%;
		margin-top: 20px;
		h2{
			text-transform: uppercase;
			margin-bottom:20px;
			letter-spacing: 6px;
		}
		.btn{
			@extend %btn;
			min-width:40%;
		}
	}
}
.featured{
	border-bottom: 1px solid #e0e0e0;
	.featured-item{
		text-align:center;
		font-size:80%;
		margin-bottom:30px;
		img{
			width:100%;
		}
		h4{
			margin:30px 0 20px 0;
		}
		.btn{
			@extend %btn;
			width:40%;
		}
	}
}

.instagram{
	background:#fff8ee;
	h2{
		margin: 50px 0 25px;
	}
	img{
		width:100%;
	}
	.instagram-feed{
		margin:25px 0 0;
		padding:7.5px;
		div{
			padding:7.5px;
		}
	}
	form{
		margin:50px 0;
		text-align:center;
		width:100%;
		.btn{
			@extend %btn;
			min-width:20%;
		}
}
}
.banner-home-top, .product-grid, .featured, .brands, .instagram{
	img{
		transition: 0.25s opacity;
		&:hover{
			opacity:0.7;
		}
	}
}


.footer{
	background: #222;
	color:transparentize(#fff,0.4);
	font-size:14px;
	.footer-quicklink{
		padding:25px 0;
	}
	h4{
		color:#fff;
		margin-bottom:20px;
		font-size:18px;
	}
	ul{
		padding:0;
	}
	li{
		list-style-type:none;
		display:block;
		line-height: 30px;
	}

	@include placeholder(transparentize(white,0.4));
	.social-media{

		ul{
			overflow:hidden;
			margin-bottom: 2rem;
		}
		li{
			float:left;
			color:#444;
			margin-right:10px;
			width:35px;
			height:35px;
			line-height: 35px;
			text-align: center;
			background:#fff;
			border-radius:50%;
		}
	}
	.newsletter{
		input{
			background:transparent;
			color:transparentize(#fff,0.4);
			border:1px solid transparentize(#fff,0.4);
			min-width:300px;
		}
		button{
			background:#444;
			color:#fff;
			border:1px solid #444;
		}
		input, button{
			margin-bottom:10px;
			padding:5px 10px;
		}
	}
	.copyright{
		padding:20px 0;
		border-top: 1px solid transparentize(#fff,0.4);
		p{
			margin:0;
		}
	}
}